<?xml version="1.0" encoding="utf-8"?>
<manifest

    xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.sig13.sensorlogger"
    android:versionCode="1"
    android:versionName="0.3.1"

>

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="14"/>

    <!--
    // Permissions we are going to request
    -->
    <!-- used for syncing to the network -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- required to get location information if it is enabled -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- i forgot why i needed this :), FIXME! -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- required to start the service on boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- END PERMS -->

    <application android:label="@string/appName"
                 android:icon="@drawable/ic_launcher"
                 android:backupAgent="net.sig13.sensorlogger.PrefsBackupAgent"
                 uiOptions="splitActionBarWhenNarrow"
    >

        <activity
            android:name="net.sig13.sensorlogger.SensorLogger"
            android:label="@string/appName"
            android:theme="@android:style/Theme.Holo"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!--
        // Service Registration
        -->
        <service android:name="net.sig13.sensorlogger.SensorLoggerService" />

        <!--
        Database content provider
        -->
        <provider android:name="net.sig13.sensorlogger.cp.SensorContentProvider"
                  android:authorities="net.sig13.sensorlogger.sensordataprovider"
          />

        <!-- 
        // Register a class to receive boot broadcast, starts scheduling on startup
        -->
        <receiver android:name="net.sig13.sensorlogger.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- used for android settings/prefs backup service -->
        <meta-data android:name="com.google.android.backup.api_key"
                   android:value="AEdPqrEAAAAIq_ZoNE3rVwLNPJX4U8MeMEaqXfDFQxCWYM0L4A" />

        <activity android:name="net.sig13.sensorlogger.ShowSettingsActivity" />
        <activity android:name="net.sig13.sensorlogger.prefs.MainPrefsActivity"/>

    </application>

</manifest>