<?xml version="1.0" encoding="utf-8"?>
<manifest

    xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.sig13.sensorlogger"
    android:versionCode="1"
    android:versionName="1.0"

>

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="14"/>

    <!--
    // Permissions we are going to request
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:label="@string/appName"
                 android:icon="@drawable/ic_launcher"
                 android:backupAgent="net.sig13.sensorlogger.PrefsBackupAgent"
                 >

        <activity
            android:name="net.sig13.sensorlogger.SensorLogger"
            android:label="@string/appName"
            android:theme="@style/CustomTheme"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!--
        // Service Registration
        -->
        <service android:name="net.sig13.sensorlogger.SensorLoggerService" />


        <!-- 
        // Register a class to receive boot broadcast, starts scheduling on startup
        -->
        <receiver android:name="net.sig13.sensorlogger.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- used for android settings/prefs backup service -->
        <meta-data android:name="com.google.android.backup.api_key"
                   android:value="AEdPqrEAAAAIq_ZoNE3rVwLNPJX4U8MeMEaqXfDFQxCWYM0L4A" />

    </application>

</manifest>